@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "customfont";
  src: url("public/assets/fonts/AeonikTRIAL-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
.dm{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}


.at{
  font-family: "customfont",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}